@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');

a{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    opacity: 70%;    
}   

.top{
    
    
    
    text-decoration: none;
    color: white;
    font-size: 12px;
    position: absolute;
    left: 6%;
    
    
   
    

}
.first{
    background-color: #5e068a;
    width: 100%;
    height: 40px;
}
.second{
    font-size: 12px;
    color: white;
     position: absolute;
    left: 71%;
    
}


}
.carousel-item{
    background-color: black;
    mix-blend-mode: overlay;
    
}
h5{

    width: 100%;
    height: 690px;
    text-align: start;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    position: none;
    left: 15%;
    
}
.btn{
    background-color: #5e068a;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    border: 2px solid #5e068a;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;

}
.col-6{
    text-decoration: none;
    text-align: none;
    /* margin-bottom: 20px; */
    font-size: 14.2px;
    font-weight: 400;
}
h4{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.orange{
    opacity: 60%;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    
}
 .headi{

    text-decoration: none;
    color: #5e068a;
    text-align: none;
    margin-top: 120px;
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
    
 }
 /* .row{
     position: absolute;
     left: 8.8%; */
 }
 .learn{
     
     margin-top: 50px;
     
 }
 .course{
    text-decoration: none;
    color: #5e068a;

    font-size: 15px;
    font-family: 'Mulish', sans-serif;
 }
 .last{
    opacity: 60%;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

 }
 .course{

    text-decoration: none;
    text-align: center;
    margin-top: 10%;
    color: #5e068a;
    font-weight: 500;
    font-size: 32px;
    font-family: 'Mulish', sans-serif;
 }
 .data{
    text-decoration: none;
    color: #5e068a;
    font-weight: 500;
    font-family: 'Mulish', sans-serif;
 }
 .deta{
     font-size: 15px;
     font-family: 'Mulish', sans-serif;
 }
 .scien{
     font-size: 30px;
     font-weight: 500;
     font-family: 'Mulish', sans-serif;
     color: #5e068a;
 }
 .batch{
     font-size: 18px;
     font-weight: 580;
     font-family: 'Mulish', sans-serif;
     opacity: 90%;
 }
 .pyt{
     font-size: 15px;
     
 }
 .title{
    font-size: 30px;
     font-weight: 500;
     font-family: 'Mulish', sans-serif;
     color: #5e068a; 
 }
 .text{
     font-size: 18px;
     font-family: 'Mulish', sans-serif;

 }
 .hdii{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Mulish', sans-serif;

 }